<div class="row">
  <div class="col-md-1">
    avatar
  </div>
  <div class="col-md-11">
    <small class="text-dark font-weight-bold">{{comment.user.userName}}</small>
    <p>
      {{comment.text}}
    </p>
    <div>
      <app-comment-reaction [comment]="comment" class="col-md-3"></app-comment-reaction>
    </div>
    <div *ngIf="comment.commentsChildren?.length>0">
      <div id="collapseExample" [ngbCollapse]="!isCollapsed">
        <app-comment-list [allComments]="comment?.commentsChildren" class="col-md-12">
          </app-comment-list>
      </div>
    </div>
  </div>
</div>

<p>

</p>

