<div class="row">
  <div class="col-md-1">
    avatar
  </div>
  <div class="col-md-11">
    <small class="text-dark font-weight-bold">{{comment.user.userName}}</small>
    <p>
      {{comment.text}}
    </p>
    <div>
      <button class="btn glyphicon glyphicon-thumbs-up text-black like" aria-hidden="true" (click)="likeComment(comment.id)"></button>
      <span>{{comment?.commentLikesCount}}</span>
      <button class="btn glyphicon glyphicon-thumbs-down text-black dislike" aria-hidden="true" (click)="dislikeComment(comment.id)"></button>
      <span>{{comment?.commentDislikesCount}}</span>
      <span *ngIf="comment.commentsChildren?.length>0" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Replays({{comment?.commentsChildren?.length}})
      </span>
    </div>
    <div *ngIf="comment.commentsChildren?.length>0">
      <div id="collapseExample" [ngbCollapse]="!isCollapsed">
        <app-comment-list [allComments]="comment?.commentsChildren" class="col-md-12">
          </app-comment-list>
      </div>
    </div>
  </div>
</div>

<p>

</p>

