<div class="blog-comment">
  <ul class="comments">
    <li class="clearfix">
      <img src="..\..\..\assets\resources\users\{{comment.user.avatar == null ? 'defaultMenAvatar.png'  : comment.user.avatar }}" class="avatar" alt="">
      <div class="post-comments">
        <div class="meta row">
          <div class="col-8">
            {{comment.createdOn | date : 'MMMM d, yyyy'}} {{comment.user.userName}} says:
          </div>
          <div class="col-4 text-right">
            <app-comment-reaction [comment]="comment"></app-comment-reaction>
            <!-- <div class="row">
          <app-comment-reaction [comment]="comment" class="col-md-9" *ngIf="isAuth"></app-comment-reaction>
          <a href="#" class="col-md-3">
            Reply
          </a>
        </div>-->
          </div>
        </div>
        <p>
          {{comment.text}}
        </p>
      </div>

      <ul class="comments">
        <!-- <app-comment-list *ngIf="comment.commentsChildren?.length>0" id="collapseExample"
                         [ngbCollapse]="!isCollapsed" [allComments]="comment?.commentsChildren"
                         class="col-md-12">
       </app-comment-list>-->
      </ul>
    </li>
  </ul>
</div>
