<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Добре дошли в нашия онлайн магазин</h1>
    <p class="lead">Може да разгледаате нашите различни продукти</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="featured_list">
      <div id="jp_container_2" class="jp-audio" role="application" aria-label="media player">
        <div class="jp-type-playlist">
          <div class="jp-playlist">
            <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap row" style="">
              <li class="jp-playlist-current col-md-3" *ngFor="let song of songs; index as i">
                <div>
                  <div class="featured_song_info">
                    {{song.name?.substring(0, 30)}}
                  </div>
                  <div class="featured_title">
                    {{song.user?.username}}
                  </div>
                </div>
                <div class="featured_song_image">
                  <img src="../../../../../assets/images/playlist_logo.jpg" alt="logo">
                  <!--
                  <img src="../../assets/resources/song/images/{{song.uniqueSongFilesName + song.imageExtension}}" alt="logo">
                    -->
                </div>
                <div class="album_play_button"  aria-hidden="true" routerLink="/home/play/{{song.id}}">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <ngb-pagination class="text-center" [collectionSize]="allSongs.length" (pageChange)="getSongsPerPage($event)" [(page)]="page" [maxSize]="10" [rotate]="true" [boundaryLinks]="true">
  </ngb-pagination>
</div>
<br />
