@using DreamAIMusic.Common
@using DreamAIMusic.Web.ViewModels.UserModels.MusicModels
@{
    this.ViewData["Title"] = "Create";
}

@model SongInputModel

<h1>Create</h1>
<hr />

@this.ViewData["message"]
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path" class="control-label"></label>
                <input asp-for="Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MusicCategoryId" class="control-label"></label>
                <!-- <input asp-for="MusicCategoryId" class="form-control" />
        -->
                <select asp-for="MusicCategoryId" class="selectpicker form-control" data-live-search="true">
                    @foreach (var category in Model.Categories)
                    {
                    <option value="@category.Id">@category.Name</option>
                    }
                </select>

                <span asp-validation-for="MusicCategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<select class="selectpicker">
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Relish</option>
</select>
