@using DreamAIMusic.Common
@using DreamAIMusic.Web.ViewModels.UserModels.MusicModels
@{
    this.ViewData["Title"] = "Create";
}

@model SongInputModel

<h1>Create</h1>
<hr />

@this.ViewData["message"]
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="Post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" class="form-control" accept="image/*" />

                <span asp-validation-for="File" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MusicCategoryId" class="control-label"></label>
                <!-- <input asp-for="MusicCategoryId" class="form-control" />
    -->
                <select asp-for="MusicCategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories,"Id","Name"))">
                </select>
                <span asp-validation-for="MusicCategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>